{% extends "layouts/main.twig" %}
{% block content %}

<div class="item">
    <h1>{{ model.name }}</h1>
    <p>{{ model.description }}</p>
</div>
<br>
<a href="index.php?c=product">Каталог</a>
{% endblock %}



